<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
	  <target name="logFile" type ="File" fileName ="log\logFile.log" archiveFileName="log\old\logFile_{longDate}.log"  maxArchiveFiles="3" archiveEvery="Day"></target>
	  <target name="errorFile" type ="File" fileName ="log\errorFile.log" archiveFileName="log\old\errorFile_{longDate}.log"  maxArchiveFiles="3" archiveEvery="Day"></target>
  </targets>

  <rules>
	<logger name="*" minlevel="Info" writeTo="logFile" />
	<logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
